## 인구소멸 위기지역 - 키토그램 시각화(Part 3)

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False # x,y축 레이블 - 깨지는 현상방지

In [3]:
pop = pd.read_csv('data/시군구_ID부여.csv', encoding='euc-kr')
pop.head()

,ID,광역시도,시군구,20~39세계,20~39세남자,20~39세여자,65세 이상계,인구수계,소멸비율,소멸위기지역,소멸위기고위험지역
0,강릉,강원도,강릉시,47006,25199,21807,43830,211643,0.4975,True,False
1,고성(강원),강원도,고성군,5217,3175,2042,7755,26792,0.2633,True,False
2,동해,강원도,동해시,18727,10469,8258,17572,89814,0.4700,True,False
3,삼척,강원도,삼척시,13583,7469,6117,16077,65623,0.3805,True,False
4,속초,강원도,속초시,18080,9909,8171,15170,81497,0.5386,False,False

- 지도 모양 보기

In [4]:
map_raw = pd.read_excel('data/draw_korea_raw(2021).xlsx')
map_raw

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,철원,화천,양구,고성(강원),NaN,NaN,NaN
1,NaN,NaN,NaN,양주,동두천,연천,포천,의정부,춘천,인제,속초,NaN,NaN,NaN
2,NaN,NaN,NaN,파주,고양 일산동,서울 도봉,서울 노원,남양주,홍천,횡성,양양,NaN,NaN,NaN
3,NaN,NaN,NaN,고양 일산서,고양 덕양,서울 강북,서울 성북,가평,구리,양평,평창,강릉,NaN,NaN
4,NaN,NaN,김포,광명,서울 은평,서울 서대문,서울 종로,서울 동대문,서울 중랑,여주,정선,동해,NaN,NaN
5,NaN,인천 강화,부천,안양 만안,서울 강서,서울 마포,서울 중구,서울 성동,서울 강동,이천,원주,삼척,NaN,NaN
6,NaN,인천 서구,인천 동구,안양 동안,서울 양천,서울 동작,서울 용산,서울 광진,서울 송파,하남,영월,울진,NaN,NaN
7,NaN,NaN,인천 계양,시흥,서울 금천,서울 영등포,서울 서초,서울 강남,성남 중원,광주,태백,봉화,NaN,NaN
8,NaN,NaN,인천 부평,안산 상록,서울 구로,서울 관악,과천,성남 분당,성남 수정,용인 처인,영주,영양,NaN,울릉
9,NaN,인천 중구,인천 미추홀,안산 단원,군포,의왕,수원 권선,수원 영통,용인 수지,용인 기흥,예천,영덕,NaN,NaN
10,인천 옹진,인천 연수,인천 남동,화성,오산,수원 팔달,수원 장안,제천,상주,문경,안동,청송,포항 북구,NaN
11,태안,서산,당진,아산,평택,음성,안성,단양,김천,구미,군위,의성,포항 남구,NaN
12,NaN,홍성,예산,천안 서북,천안 동남,진천,청주 흥덕,충주,괴산,성주,칠곡,영천,경주,NaN
13,NaN,보령,청양,공주,세종,대전 대덕,청주 청원,증평,보은,고령,청도,경산,울산 북구,NaN
14,NaN,NaN,부여,논산,계룡,대전 동구,청주 서원,청주 상당,대구 서구,대구 북구,대구 동구,울산 울주,울산 동구,NaN
15,NaN,NaN,서천,금산,대전 유성,대전 중구,옥천,영동,대구 남구,대구 중구,대구 수성,울산 중구,울산 남구,NaN
16,NaN,NaN,군산,익산,대전 서구,무주,거창,합천,대구 달서,대구 달성,부산 북구,부산 금정,부산 기장,NaN
17,NaN,NaN,부안,김제,완주,장수,함양,창녕,밀양,부산 사상,부산 부산진,부산 동래,부산 해운대,NaN
18,NaN,고창,정읍,전주 덕진,진안,남원,산청,의령,부산 강서,부산 서구,부산 동구,부산 연제,NaN,NaN
19,NaN,영광,장성,전주 완산,임실,함안,진주,창원 의창,양산,부산 사하,부산 중구,부산 수영,NaN,NaN
20,NaN,함평,담양,순창,구례,하동,창원 합포,창원 회원,창원 성산,김해,부산 영도,부산 남구,NaN,NaN
21,신안,무안,광주 광산,곡성,화순,광양,사천,고성(경남),창원 진해,NaN,NaN,NaN,NaN,NaN
22,목포,나주,광주 서구,광주 북구,순천,여수,남해,통영,거제,NaN,NaN,NaN,NaN,NaN
23,해남,영암,광주 남구,광주 동구,고흥,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,진도,강진,장흥,보성,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,완도,NaN,NaN,제주,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,서귀포,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# table 모양을 변경
map_raw.stack()[:10]

0  7         철원
   8         화천
   9         양구
   10    고성(강원)
1  3         양주
   4        동두천
   5         연천
   6         포천
   7        의정부
   8         춘천
dtype: object

In [6]:
map = pd.DataFrame(map_raw.stack())
map.reset_index(inplace=True)
print(map.shape)
map.head()

(250, 3)

   level_0  level_1       0
0        0        7      철원
1        0        8      화천
2        0        9      양구
3        0       10  고성(강원)
4        1        3      양주

In [7]:
map.columns = ['y', 'x', 'ID']
map.head()

   Y   x      ID
0  0   7      철원
1  0   8      화천
2  0   9      양구
3  0  10  고성(강원)
4  1   3      양주

- 광역시 경계를 포함하여 그리기

In [8]:
from draw_map import BORDER_LINES, drawKorea, drawKoreaMinus

In [9]:
plt.figure(figsize=(8,11))

for idx, row in map.iterrows():
    # 광역시는 구 이름이 겹치는 경우가 많아서 광역시 이름도 같이 표시 
    # (중구, 서구 등)
    if len(row.ID.split())==2:
        dispname = f'{row.ID.split()[0]}\n{row.ID.split()[1]}'
    elif row.ID[:2]=='고성':
        dispname = '고성'
    else:
        dispname = row.ID

    # 서대문구, 서귀포시 같이 이름이 3자 이상인 경우에 작은 글자로 표시
    if len(dispname.splitlines()[-1]) >= 3:
        fontsize, linespacing = 9.5, 1.5
    else:
        fontsize, linespacing = 11, 1.2

    plt.annotate(dispname, (row['x']+0.5, row['y']+0.5), weight='bold',
                 fontsize=fontsize, ha='center', va='center', 
                 linespacing=linespacing)
    
# 시도 경계
for path in BORDER_LINES:
    ys, xs = zip(*path)
    plt.plot(xs, ys, c='black', lw=1.5)

plt.gca().invert_yaxis()
#plt.gca().set_aspect(1)

plt.axis('off')

plt.tight_layout()
plt.show()

KeyError: 'y'